package ${cfg.apiPackage}.dto;

import lombok.Data;

import javax.validation.constraints.NotBlank;
import javax.validation.constraints.NotNull;
import javax.validation.constraints.Size;
import java.io.Serializable;
#foreach($pkg in ${cfg.fieldImports})
import ${pkg};
#end

/**
 * ${table.comment!} 新增参数
 *
 * @author ${author}
 * @version V1.0
 * @since ${date}
 */
@Data
public class ${entity}CreateDTO implements Serializable {

    private static final long serialVersionUID = 1L;
#foreach($field in ${cfg.businessFields})

    /** ${field.comment} */
#if(!${field.nullable} && ${field.propertyType} == "String")
    @NotBlank(message = "${field.comment}不能为空")
#elseif(!${field.nullable})
    @NotNull(message = "${field.comment}不能为空")
#end
#if(${field.propertyType} == "String" && ${field.length} > 0)
    @Size(max = ${field.length}, message = "${field.comment}长度不能超过${field.length}")
#end
    private ${field.propertyType} ${field.propertyName};
#end
}
