package ${cfg.apiPackage}.dto;

import lombok.Data;

import jakarta.validation.constraints.NotNull;
import jakarta.validation.constraints.Size;
import java.io.Serializable;
#foreach($pkg in ${cfg.fieldImports})
import ${pkg};
#end

/**
 * $!{table.comment} 修改参数
 *
 * @author ${author}
 * @version V1.0
 * @since ${date}
 */
@Data
public class ${entity}UpdateDTO implements Serializable {

    private static final long serialVersionUID = 1L;

    /** 主键 */
    @NotNull(message = "ID不能为空")
    private Long id;
#foreach($field in ${cfg.businessFields})

    /** ${field.comment} */
#if($field.propertyType == "String" && $field.length > 0)
    @Size(max = $field.length, message = "${field.comment}长度不能超过$field.length")
#end
    private ${field.propertyType} ${field.propertyName};
#end
}
