package ${cfg.apiPackage}.vo;

import lombok.Data;

import com.fasterxml.jackson.annotation.JsonFormat;

import java.io.Serializable;
import java.time.LocalDateTime;
#foreach($pkg in ${cfg.fieldImports})
import ${pkg};
#end

/**
 * ${table.comment!} 视图对象
 *
 * @author ${author}
 * @version V1.0
 * @since ${date}
 */
@Data
public class ${entity}VO implements Serializable {

    private static final long serialVersionUID = 1L;

    /** 主键 */
    private Long id;
#foreach($field in ${cfg.businessFields})

    /** ${field.comment} */
#if(${field.propertyType} == "LocalDateTime" || ${field.propertyType} == "LocalDate")
    @JsonFormat(pattern = #if(${field.propertyType} == "LocalDateTime")"yyyy-MM-dd HH:mm:ss"#else"yyyy-MM-dd"#end, timezone = "GMT+8")
#end
    private ${field.propertyType} ${field.propertyName};
#end

    /** 创建人 */
    private String createUserName;

    /** 创建时间 */
    @JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss", timezone = "GMT+8")
    private LocalDateTime createTime;

    /** 更新人 */
    private String updateUserName;

    /** 更新时间 */
    @JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss", timezone = "GMT+8")
    private LocalDateTime updateTime;
}
